* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  word-break: keep-all;
  background: #e9ecef;
}

h1 {
  margin: 0;
  font-size: 36px;
  color: #343a40;
}
.day {
  margin-top: 4px;
  color: #868e96;
  font-size: 21px;
}
.tasks-left {
  color: #20c997;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}
input {
  vertical-align: middle;
}

.form {
  width: 512px;
  height: 768px;
  position: relative;
  background-color: white;
  margin: 0 auto;
  margin-top: 96px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.04);
}
.topNav {
  position: relative;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1;
  border-bottom: 1px solid #e9ecef;
  padding-top: 48px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 24px;
}
.content-wrap {
  flex: 1;
  padding: 20px 32px;
  padding-bottom: 48px;
  overflow-y: auto;
}
#inputValue {
  width: 438px;
  height: 25px;
  padding-left: 10px;
}
#inputValue:focus::placeholder {
  color: transparent;
}

#submitButton {
  width: 10%;
  height: 25px;
  margin-top: 10px;
}

.list {
  padding: 0px 16px;
  margin-top: 24px;
  margin-bottom: 24px;
}
.list:hover {
  background: rgb(120, 209, 249);
}

.time {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.changeButton {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.changeButton input {
  margin: 0 10px;
}

.subtitle {
  width: 280px;
  word-wrap: break-word;
  word-break: keep-all;
  font-size: 21px;
  color: #495057;
}

#order {
  display: flex;
  justify-content: flex-end;
}

.sort {
  margin-top: 10px;
}

#sortByTime {
  margin-right: 10px;
}

.itemBlock {
  display: flex;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
}
.removeButton {
  background: url(./icons/deleteBtn.png) no-repeat;
  background-size: 24px;
  border: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
}
.editBtn {
  background: url(./icons/editBtn.png) no-repeat;
  background-size: 24px;
  border: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.beforeCheck {
  background: url(./icons/noneCheck.png) no-repeat;
  background-size: 24px;
  border: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.contentLine {
  display: flex;
  width: 100%;
  align-items: center;
  word-wrap: break-word;
  word-break: keep-all;
}
.contentLine input {
  margin-right: 8px;
}

.extend-button {
  background: url(./icons/extendBtn.png) no-repeat;
  background-size: 80px;
  z-index: 2;
  cursor: pointer;
  width: 80px;
  height: 80px;
  display: block;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 216px;
  bottom: -40px;
}
.input-box {
  width: 512px;
  background-color: #f8f9fa;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  border-top: 1px solid #e9ecef;
}
.inputWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  padding-top: 10px;
}
