@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  word-break: keep-all;
  background: #e9ecef;
}

h1 {
  margin: 0;
  font-size: 36px;
  color: #343a40;
}
.day {
  margin-top: 4px;
  color: #868e96;
  font-size: 21px;
}
.tasks-left {
  color: #20c997;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}
input {
  vertical-align: middle;
}

.form {
  width: 90%;
  min-height: 500px;
  height: 700px;
  position: relative;
  background-color: white;
  margin: 0 auto;
  margin-top: 32px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-content: center;
  border-radius: 16px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.04);
}
.topNav {
  position: relative;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1;
  border-bottom: 1px solid #e9ecef;
  padding-top: 48px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 24px;
}
.content-wrap {
  flex: 1;
  padding: 20px 32px;
  padding-bottom: 48px;
  overflow-y: auto;
}
#inputValue {
  width: 80%;
  height: 25px;
  padding-left: 10px;
}
#inputValue:focus::placeholder {
  color: transparent;
}

#submitButton {
  margin-top: 10px;
  padding: 0.25rem 1rem;

  font-family: "Noto Sans KR", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;

  display: inline-block;
  width: auto;

  border: none;
  border-radius: 4px;
  background-color: #20c997;
  color: white;
  cursor: pointer;
}

.list {
  margin-top: 24px;
  margin-bottom: 24px;
}

.time {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.changeButton {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.changeButton input {
  margin: 0 px;
}

.subtitle {
  width: 100%;
  word-wrap: break-word;
  word-break: keep-all;
  font-size: 21px;
  color: #495057;
}
.subtitle:focus {
  border: none;
}

#order {
  display: flex;
  justify-content: flex-end;
}

.sort {
  margin-top: 0px;
}

#sortByTime {
  margin-right: 10px;
  margin-top: 10px;
  padding: 0.25rem 1rem;

  font-family: "Noto Sans KR", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;

  display: inline-block;
  width: auto;

  border: none;
  border-radius: 4px;
  background-color: #20c997;
  color: white;
  cursor: pointer;
}

.itemBlock {
  display: flex;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
}
.removeButton {
  background: url(./icons/deleteBtn.png) no-repeat;
  background-size: 24px;
  border: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
}
.editBtn {
  background: url(./icons/editBtn.png) no-repeat;
  background-size: 24px;
  border: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.beforeCheck {
  position: relative;
  background: url(./icons/noneCheck.png) no-repeat;
  background-size: 24px;
  border: none;
  cursor: pointer;
  width: 32px;
  height: 24px;
}

.contentLine {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  word-wrap: break-word;
  word-break: keep-all;
}
.contentLine input {
  margin-right: 0px;
}
.contentLine input:focus {
  border: none;
}

.extend-button {
  background: url(./icons/extendBtn.png) no-repeat;
  background-size: 80px;
  cursor: pointer;
  width: 80px;
  height: 80px;
  position: relative;
  bottom: -40px;
  margin-left: auto;
  margin-right: auto;
}
.input-box {
  position: relative;
  bottom: -79px;
  background-color: #f8f9fa;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  border-top: 1px solid #e9ecef;

  animation-duration: 0.5s;
  animation-name: slide;
}
@keyframes slide {
  from {
    height: 0px;
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  to {
    height: 154px;
    opacity: 1;
  }
}
.inputWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 48px;
  padding-top: 10px;
}

#sortByContent {
  margin-top: 10px;
  padding: 0.25rem 1rem;

  font-family: "Noto Sans KR", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;

  display: inline-block;
  width: auto;

  border: none;
  border-radius: 4px;
  background-color: #20c997;
  color: white;

  cursor: pointer;
}

#now {
  word-wrap: break-word;
  word-break: keep-all;
}
